# Markdown files
bidsme/*.md
!bidsme/README.md

# Bidsme's folder to ignore
bidsme/doc/
bidsme/tests/

# Python
__pycache__/
*.py[cod]
*.sw[po]

# Python build tools
htmlcov/
.tox/
.eggs/
*.egg-info/
build/
dist/
coverage/
*.coverage
*.log

# Jupyter
.ipynb_checkpoints/
*.ipynb 

# Env
.venv/
venv/

# IDE
.vscode/
.idea/

# Data (mounted volumes)
rawdata/
prepared/
bidsified/
configuration/


*.IMA

# Scripts
*.sh
!entrypoint.sh

# Git
*.gitignore
