# Fichiers Markdown
bidsme/*.md
!bidsme/README.md

# Dossiers à ignorer dans bidsme/
bidsme/doc/
bidsme/tests/

# Python
__pycache__/
*.py[cod]
*.sw[po]

# Jupyter
.ipynb_checkpoints/
*.ipynb  # retirer cette ligne si tu veux garder les notebooks

# Python build tools
htmlcov/
.tox/
.eggs/
*.egg-info/
build/
dist/
coverage/
*.coverage
*.log

# Env
.venv/
venv/

# IDE
.vscode/
.idea/

# Données (montées par volume)
rawdata/
prepared/
bidsified/
configuration/

# Fichiers spécifiques
*.IMA

# Scripts
*.sh
!entrypoint.sh

# Git
*.gitignore
